<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet</h1>
<form role="form">
<div class="alert alert-success text-center">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Event created for that time.
</div>
  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>

<div class="controls-row">

<div class="dropdown control-group" style="padding-left: 16px;padding-bottom: 5px;">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropMenu">Brevet Distance: 200 km <span class="caret"/></button>
  <ul class="dropdown-menu">
    <li><a href='#' name="ddmItem">200 km </a></li>
    <li><a href='#' name="ddmItem">300 km </a></li>
    <li><a href='#' name="ddmItem">400 km </a></li>
    <li><a href='#' name="ddmItem">600 km </a></li>
    <li><a href='#' name="ddmItem">1000 km </a></li>
  </ul>
</div>
    <div class="control-group col col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Start Date</span>
            <input type="text" class="form-control" value="YYYY/MM/DD">
        </div>
    </div>
    <div class="control-group col col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Start Time</span>
            <input type="text" class="form-control" value="HH:mm">
        </div>
    </div>
</div>
<br><br><br><br>
<!-- Design on bootstrap grid -->

<div class="row">
  <div class="col-sm-1">
    <p class="text-center">No.</p>
  </div>
  <div class="col-sm-4">
    <p class="text-center">Distance</p>
  </div>
  <div class="col-sm-3">
    <p class="text-center">Location</p>
  </div>
  <div class="col-sm-2">
    <p class="text-center">Open Time</p>
  </div>
  <div class="col-sm-2">
    <p class="text-center">Close Time</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <div class="text-center h5">1</div>
  </div>
  <div class="col-sm-2">
    <p class="form-control text-center" name="miles">0</p>
  </div>
  <div class="col-sm-2">
    <p class="form-control text-center" name="kilometers">0</p>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control text-center" name="location" value="Optional" />
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="open">(Open)</p>
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="close">(Close)</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <div class="text-center h5">2</div>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="miles" value="Miles"/>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="kilometers" value="Kilometers"/>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control text-center" name="location" value="Optional" />
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="open">(Open)</p>
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="close">(Close)</p>
  </div>
</div>
</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  var KM_PER_MILE = 1.6;
  var dateRegex = /^\d{4}\/([0][1-9]|[1][012])\/([0][1-9]|[12][\d]|[3][01])$/;
  var timeRegex = /^([0-1][0-9]|[2][0-3]):([0-5][0-9])$/;
  var brevetDistance = /\b\d{3,4}\b/;
  var distRegex = /^\d{2,4}$/;

  var brevetLength = 0; //start this at 200

  $(document).ready(function(){
   // Do the following when the page is finished loading
      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          function(){
              var miles = $(this).val();
              var kmInput = $(this).parents(".row").find("input[name='kilometers']");
              var openObj = $(this).parents(".row").find("p[name='open']");
              var closeObj = $(this).parents(".row").find("p[name='close']");
              kmInput.val(miles*KM_PER_MILE);


              getControleTimes(kmInput.val(),brevetLength,openObj,closeObj);
          });  // End of the function to be called when field changes
  });   // end of what we do on document ready

  $('a[name="ddmItem"]').click(function(){
      $('#dropMenu').html("Brevet Length: " + $(this).text() + " <span class='caret' />");
      brevetLength = parseInt($(this).text());
      createEvent();
  });

  var getControleTimes = function(dist, tDist, openElem, closeElem) {
    
    $.post( "/_calc_times", {"brevet_length": tDist, "dist": dist},
        function(data) { //this function handles the response.
            //data.result.flash
            //data.result.matches
            
        }
    );
  }

  var displayControls = function(){
    console.log("display controles");
  }

  var createEvent = function(){
      var date = $('#startDate').val();
      var time = $('#startTime').val()
      
      if(dateRegex.test(date) && timeRegex.test(time)){

          $.post( "/_set_start", {"bStart": date + " " + time, "bLength": brevetLength},
              function(data) { //this function handles the response.
                  var msg = data.result.message;
                  console.log(msg);
                  if(msg.includes("set")){
                      sendAlert(msg,"success");
                  }
              }
          );

          displayControls();
      }
  }

  $('input[name="startdatetime"]').keyup(function(){
      createEvent();
  });

  var sendAlert = function(message, type){
      var htmlcode = "<div class='alert alert-" + type + "'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>";
      htmlcode = htmlcode + message + "</div>";

      $('div[name="alertContainer"]').html(htmlcode);
  }
  
</script>

</div>
</body> </html>
