<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropMenu">Brevet Distance: 200 km <span class="caret"/></button>
  <ul class="dropdown-menu">
    <li><a href='#' name="ddmItem">200 km </a></li>
    <li><a href='#' name="ddmItem">300 km </a></li>
    <li><a href='#' name="ddmItem">400 km </a></li>
    <li><a href='#' name="ddmItem">600 km </a></li>
    <li><a href='#' name="ddmItem">1000 km </a></li>
  </ul>
</div>
<div class="input-group col-sm-3">
  <span class="input-group-addon">Start Date</span>
  <input type="text" class="form-control" id="startDate" name="StartDate" value="YYYY/MM/DD"/>
</div>
<div class="input-group col-sm-3">
  <span class="input-group-addon">Start Time</span>
  <input type="text" class="form-control" id="startTime" name="StartTime" value="HH:MM"/>
</div>
<br>
<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-sm-1">
    <p class="text-center">No.</p>
  </div>
  <div class="col-sm-4">
    <p class="text-center">Distance</p>
  </div>
  <div class="col-sm-3">
    <p class="text-center">Location</p>
  </div>
  <div class="col-sm-2">
    <p class="text-center">Open Time</p>
  </div>
  <div class="col-sm-2">
    <p class="text-center">Close Time</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <div class="text-center h5">1</div>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="miles" value="Miles"/>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="kilometers" value="Kilometers"/>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control text-center" name="location" value="Optional" />
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="open">(Open)</p>
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="close">(Close)</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <div class="text-center h5">2</div>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="miles" value="Miles"/>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control text-center" name="kilometers" value="Kilometers"/>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control text-center" name="location" value="Optional" />
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="open">(Open)</p>
  </div>
  <div class="col-sm-2">
    <p class="times text-center" name="close">(Close)</p>
  </div>
</div>
</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  var KM_PER_MILE = 1.6;
  var dateRegex = /^\d{4}\/([0][1-9]|[1][012])\/([0][1-9]|[12][\d]|[3][01])$/;
  var timeRegex = /^([0-1][0-9]|[2][0-3]):([0-5][0-9])$/;
  var brevetDistance = /\b\d{3,4}\b/;

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              console.log($(this).val());
              var miles = $(this).val();
              var kmInput = $(this).parents(".row").find("input[name='kilometers']");
              kmInput.val(miles*KM_PER_MILE);

              return true;

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { miles: e_miles },
                  // The function to call with the response
                  function(data) {
                     var times = data.result;
                     // alert("Got a response: " +  times);
                     target.text(times);
                  }); // End of the call to getJSON
      });  // End of the function to be called when field changes
  });   // end of what we do on document ready

  $('a[name="ddmItem"]').click(function(){
      $('#dropMenu').html("Brevet Distance: " + $(this).text() + " <span class='caret' />");

  });

  var displayControls = function(){
    alert("it worked");
  }

  $('#startDate').change(function(){
       if(dateRegex.test($('#startDate').val())){
        displayControls
      }
      else
        alert("failed regex");
  });

  $('#startTime').change(function(){
      if(dateRegex.test($('#startDate').val())){
          displayControls
      }
      else
        alert("failed regex");
  });

  
</script>

</div>
</body> </html>
