<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/output.css') }}">

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">
<h2>{{ session["bLength"] }}km BREVET</h2>
<table class="table">
  <thead>
    <tr>
      <th>Checkpoint</th><th>Distance</th><th>Date and Time</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ request.form["location1"] }}</td>
    <td>0km</td>
    <td>start: {{ "0"|getOpen }}</td>
  </tr>
  <tr>
    <td></td><td>0mi</td><td>close: {{ "0"|getClose }}</td>
  </tr>
  {% for i in range(2,21) %}
    {% if request.form["kilometers" + i|string] != "Kilometers" %}
      <tr>
        <td>{{ request.form["location" + i|string] }}</td><td>{{ request.form["kilometers" + i|string] }}km</td><td>open: {{ request.form["kilometers" + i|string]|getOpen }}</td>
      </tr>
      <tr>
        <td></td><td>{{ request.form["miles" + i|string] }}mi</td><td>close: {{ request.form["kilometers" + i|string]|getClose }}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

</script>

</div>
</body> </html>
